pbr!=2.1.0,>=2.0.0 # Apache-2.0

alembic
flask
flask
prettytable
prettytable
pymysql
pymysql
pynput
pynput
python-vlc
python-vlc
python-xlib
python-xlib
sqlalchemy
sqlalchemy
system_hotkey
system_hotkey

